.nav-outter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #30227c;
    a{
        padding: 5px 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        color: white;
        &:hover{
            filter: brightness(0.1);
        }
    }
}